<h1>Editing cat</h1>
 
<%= form_for :cat, url: cat_path(@cat), method: :patch do |f| %>
 
  <% if @cat.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@cat.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @cat.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :color %><br>
    <%= f.text_area :color %>
  </p>
  
  <p>
    <%= f.label :race %><br>
    <%= f.text_area :race %>
  </p>
  <p>
    <%= f.label :gender %><br>
    <%= f.text_area :gender %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back to cats', cats_path %>
