<h1>Add a New Cat</h1>
<%= form_for :cat, url: cats_path do |f| %>
<% if @cat.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@cat.errors.count, "error") %> prohibited
        this cat from being saved:
      </h2>
      <ul>
        <% @cat.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </p>
  <p>
    <%= f.label :race %><br>
    <%= f.text_field :race %>
  </p>
    <p>
     
    <%= f.label :gender %><br>
    <%= f.radio_button :gender, :male, :checked => true %>
    <%= f.label :gender_male, 'Male' %>
    <%= f.radio_button :gender, :female %>
    <%= f.label :gender_female, 'Female' %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>